.about-content {
  margin: 20px 0;
}

.about-item {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
}

.about-item:last-child {
  border-bottom: none;
}

.about-item h3 {
  color: #512BD4;
  margin-bottom: 10px;
}

.about-item p {
  color: #666;
  line-height: 1.6;
}

